.desktop{
    width: 1440px;
height: 6406px;
top: 142px;
left: 392px;
color: rgba(255, 255, 255, 1);

}

.heading{
width: 314px;
height: 45px;
top: 48px;
left: 55px;
border: 1px;
font-family: Peralta;
font-size: 40px;
font-weight: 400;
line-height: 52px;
letter-spacing: 0em;
text-align: left;
color: rgba(0, 0, 0, 1);
/* border: 1px solid rgba(0, 0, 0, 1); */
}
.head-f{
width: Hug (164px);
height: Hug (50px);
top: 45px;
left: 374px;
padding: 8px;
gap: 8px;
width: 79px;
height: 34px;
font-family: Poppins;
font-size: 23px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
color: rgba(33, 40, 50, 1);

}
.head-last{
width: Fixed (107px);
height: Fixed (40px);
top: 50px;
left: 1107px;
padding: 8px 20px 8px 20px;
border-radius: 8px;
border: 1px;
gap: 8px;
background: rgba(236, 104, 44, 1);
border: 1px solid rgba(236, 104, 44, 1);
width: 60px;
height: 34px;
font-family: Poppins;
font-size: 23px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
}


.head1{
width: 1108px;
height: 89px;
top: 387px;
left: 41px;
font-family: Poppins;
font-size: 48px;
font-weight: 700;
line-height: 118px;
letter-spacing: -0.04em;
text-align: left;
color: rgba(75, 64, 197, 1);
padding-top: 50px;
}
.tagline{
width: 757px;
height: 47px;
top: 476px;
left: 50px;
font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: left;
color: rgba(255, 255, 255, 1);
padding-top: 50px;
}

.styled {
    width: 195px;
height: 50px;
border-radius: 13px;
top: 573px;
left: 66px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 241, 218, 1);
background-color: rgba(75, 64, 197, 1);
margin-top: 50px;
    
    box-shadow: 0px 26px 46px 0px rgba(241, 165, 1, 0.15);
  }
  
  .styled:hover {
    background-color: rgba(75, 64, 197, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  




/* .rectangle23{
width: 228px;
height: 100px;
top: 549px;
left: 50px;
border-radius: 13px;
background-color: rgba(75, 64, 197, 1);
box-shadow: 0px 26px 46px 0px rgba(241, 165, 1, 0.15);
}
.find{
width: 195px;
height: 29px;
top: 573px;
left: 66px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 241, 218, 1); */

.category{
width: auto;
height: 34px;
top: 1004px;
left: 579px;
font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: rgba(75, 64, 197, 1);
}
.category1{
width: auto;
height: 81px;
top: 1078px;
left: 308px;
font-family: Poppins;
font-size: 64px;
font-weight: 700;
line-height: 96px;
letter-spacing: 0em;
text-align: center;
color: rgba(20, 24, 62, 1);
text-align: center;
}
.satellite{
    width: 78.27200317382812px;
    height: 87.7332763671875px;
    top: 1293.7821044921875px;
    left: 152.16082763671875px;
    padding: 0.0001220703125px 0px 0.0000152587890625px 0px;   
}
.body-part1{
    width: 253px;
    height: 34px;
    top: 1422px;
    left: 75px;
    font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}

.body-part2{
    width: 226px;
    height: 145px;
    top: 1472px;
    left: 84px;
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.body-part3{
width: 177px;
height: 34px;
top: 1422px;
left: 464px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.body-part4{
    width: 212px;
height: 136px;
top: 1472px;
left: 438px;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.body-part5{
    width: 201px;
    height: 33px;
    top: 1422px;
    left: 845px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}
.body-part6{
    width: 212.2854461669922px;
height: 97.75943756103516px;
top: 1471px;
left: 837px;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.body-part7{
    width: 189px;
height: 34px;
top: 1421px;
left: 1163px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.body-part8{
width: 217px;
height: 166px;
top: 1471px;
left: 1137px;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 35px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.body-rect{
width: 250px;
height: 393.54443359375px;
top: 1241.1492919921875px;
left: 398.45904541015625px;
border-radius: 47.884376525878906px;
background-color: rgba(255, 255, 255, 1);
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0);
box-shadow: 0px 10px 8.67042064666748px 0px rgba(0, 0, 0, 0.01);
box-shadow: 0px 26px 17px 0px rgba(0, 0, 0, 0.01);
box-shadow: 0px 51px 33px 0px rgba(0, 0, 0, 0.01);
box-shadow: 0px 86px 62px 0px rgba(0, 0, 0, 0.02);
box-shadow: 0px 133px 106px 0px rgba(0, 0, 0, 0.02);
}


.subheading{
width: auto;
height: 48px;
top: 1789px;
left: 599px;
font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0em;
text-align: center;
color: rgba(75, 64, 197, 1);
text-align: center;
}
.subheading1{
    width: auto;
height: 93px;
top: 1877px;
left: 440px;
font-family: Poppins;
font-size: 62px;
font-weight: 700;
line-height: 93px;
letter-spacing: 0em;
text-align: center;
color: rgba(20, 24, 62, 1);
}

/* .des1{
    width: 417.6582336425781px;
    height: 607.8655395507812px;
    top: 2010px;
    left: 21.3302001953125px;
    border-radius: 31.922914505004883px;
    filter: drop-shadow(0px 2.4631879329681396px 4.187419891357422px 0px rgba(0, 0, 0, 0));
    filter: drop-shadow(0px 10.838027954101562px 8.67042064666748px 0px rgba(0, 0, 0, 0.01));
    filter: drop-shadow(0px 26.60243034362793px 17.291582107543945px 0px rgba(0, 0, 0, 0.01));
    filter: drop-shadow(0px 51.234317779541016px 33.893463134765625px 0px rgba(0, 0, 0, 0.01));
    filter: drop-shadow(0px 86.2115707397461px 62.318668365478516px 0px rgba(0, 0, 0, 0.02));
    filter: drop-shadow(0px 133.0121612548828px 106.40972137451172px 0px rgba(0, 0, 0, 0.02));
}

.destin1{
    width: 418.9883117675781px;
height: 172.9158172607422px;
top: 2444.951171875px;
left: 20px;
border-radius: 0px 0px 31.922914505004883px 31.922914505004883px;
background-color: rgba(255, 255, 255, 1);
} */

.choose1{
    width: auto;
height: 69.98936462402344px;
top: 3521px;
left: 566.580810546875px;
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
color:#7F2736;



}
.choose2{
    width: auto;
    height: 69.98936462402344px;
    top: 3521px;
    left: 566.580810546875px;
font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
color: linear-gradient(to bottom, 0deg, #2C2D32, #2C2D32);


}

.p1{
    width: auto;
height: 125.3976058959961px;
top: 3594.877685546875px;
left: 287.5972900390625px;
font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 43px;
letter-spacing: 0em;
text-align: center;
color: rgba(44, 45, 50, 1);

}


.style1{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: rgba(94, 98, 130, 1);
}

.style2{
  font-family: Poppins;
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0em;
  color: rgba(20, 24, 62, 1);
} 

.style3{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba(94, 98, 130, 1);
} 
.style4{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(94, 98, 130, 1); 
}

.style1-font-head{
width: 327px;
height: 43px;
top: 3958px;
left: 59.5972900390625px;
font-family: Poppins;
font-size: 30px;
font-weight: 500;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}
.style1-font{
width: 325px;
height: 136px;
top: 4065px;
left: 60.5972900390625px;
font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
}

.style2-font-head{
    width: 329px;
    height: 42px;
    top: 3958px;
    left: 544.5972900390625px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 1); 
    }
    .style2-font{
        width: 361px;
        height: 102px;
        top: 4065px;
        left: 529.5972900390625px;
        font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1); 
        
    }
    .style3-font-head{
        width: 340px;
        height: 42px;
        top: 3958px;
        left: 1045.5972900390625px;
        font-family: Poppins;
font-size: 30px;
font-weight: 500;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
        
        }
        .style3-font{
            width: 305px;
            height: 136px;
            top: 4065px;
            left: 1043.5972900390625px;
            font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(0, 0, 0, 1);
        }


.sub-rectangle{
    width: 1350.4930419921875px;
height: 484.7921447753906px;
top: 4432px;
left: 1373.09033203125px;
border-radius: 171.58566284179688px 26.60243034362793px  26.60243034362793px 26.60243034362793px;
opacity: 0.20000000298023224px;
/* transform: rotate(-180deg); */
background: rgba(223, 215, 249, 1);
}

.sub-rectangle-head{
    width: 991px;
height: 161px;
top: 4539px;
left: 217.17578125px;
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 72px;
letter-spacing: 0em;
text-align: center;
color: rgba(94, 98, 130, 1);

}

.email{
    width: 485.9466552734375px;
height: 50px;
top: 4748.2705078125px;
left: 313.4730224609375px;
border-radius: 13.301215171813965px;
background-color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-size: 19px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;


}

.subscribe{
    width: 207.76817321777344px;
height: 78.49019622802734px;
top: 4748.2705078125px;
left: 827.121826171875px;
border-radius: 13.301215171813965px;

}
.styled-subscribe{
    width: 150px;
    height: 50px;
    top: 4774px;
    left: 856.17578125px;
    font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 241, 218, 1);
background-color: #FF946D;

border-radius: 15px;
  }




  footer{
    width: 1400.2427978515625px;
height: 338.2391357421875px;
top: 5112.0693359375px;
left: 5px;
border-radius: 23.27712631225586px;
  }


  .footer-column1{
/* width: 286px;
height: 66px; */
top: 5197.2001953125px;
left: 5px;
padding-top: 80px;
  }
.footer-column1-text{
    width: 286px;
    height: 66px;
    top: 5197.2001953125px;
    left: 5px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(94, 98, 130, 1);
}



.footer-column2{
    width: 629.84375px;
    height: 204.2456512451172px;
    top: 5112.0693359375px;
    left: 390.73529052734375px;
    
      }
.footer-column2-text{
        width: 286px;
        height: 66px;
        top: 5197.2001953125px;
        left: 5px;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(94, 98, 130, 1);
    }

.h3-flex{
    display : flex;
    justify-content:space-between;
    align-items: center;
 
}
.h3-flex>div{
    margin: 10px;
    padding: 20px;
    width: auto;
    height: 204.2456512451172px;
    top: 5112.0693359375px;
    left: 390.73529052734375px;
    text-align: center;
    
}

.footer-topic{
    /* width: 84px;
height: 40px;
top: 5112.0693359375px;
left: 869.578857421875px; */
font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;
color: rgba(8, 8, 9, 1);

}
.footer-list{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(94, 98, 130, 1);
    
 }


 .footer-flex{
    display : flex;
   
    align-items: center;
 
}
.footer-flex>div{
    margin: 10px;
    padding: 20px;
    width: auto;
    height: 204.2456512451172px;
    top: 5112.0693359375px;
    left: 390.73529052734375px;
    text-align: center;
    
}

.center-flex{
    display:flex;
    flex-direction: column;
}





    /* .row {
        padding: 1em 1em;
      }
      .row.primary {
        display: grid;
        grid-template-columns: 3fr 2fr 4fr;
        align-items: stretch;
      }
      .column {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 2em;
        min-height: 15em;
      }
      h3 {
        width: 100%;
        text-align: left;
        color: white;
        font-size: 1.4em;
        white-space: nowrap;
      }
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
      }
      li:not(:first-child) {
        margin-top: 0.8em;
      }
      ul li a {
        color: #a7a7a7;
        text-decoration: none;
      }
      ul li a:hover {
        color: #c7940a;
      }
      .about p {
        text-align: justify;
        line-height: 2;
        margin: 0;
      }
      input,
      button {
        font-size: 1em;
        padding: 1em;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
      }
      button {
        background-color: #c7940a;
        color: #ffffff;
      }
      div.social {
        display: flex;
        justify-content: space-around;
        font-size: 2.4em;
        flex-direction: row;
        margin-top: 0.5em;
      }
      .social i {
        color: #bac6d9;
      } */
      
  
  
  /* .styled-subscribe:hover {
    background-color: linear-gradient(to bottom, #FF946D 0%, #FF7D68 100%);
  }
  
  .styled-subscribe:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  } */
  

  .row{
   
    padding-left: 20px;
}

/* 
  .styled {
    width: 195px;
height: 50px;
border-radius: 13px;
top: 573px;
left: 66px;
font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: rgba(255, 241, 218, 1);
background-color: rgba(75, 64, 197, 1);
margin-top: 50px;
    
    box-shadow: 0px 26px 46px 0px rgba(241, 165, 1, 0.15);
  }
  
  .styled:hover {
    background-color: rgba(75, 64, 197, 1);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  } */








/* .blue{
    font-family:fantasy;
    color: rgb(0, 27, 116);
    font-size: xx-large;
    border-radius: 3px solid black;
    
}
.des{
    color: rgb(255, 255, 255);
    font-size: x-large;
}
.c1{
    font-family: Peralta;
    padding-top: 50px;
    color:rgba(75, 64, 197, 1);
    ;

}
.c2{
    border-radius: 20px 20px 20px 40px;
    border-width: 30px 10px 20px 10px;
    padding: 10px 20px 10px 10px;
    margin: 20px 10px 10px 10px;
    color: blue;
    background-color: aqua;
}
.card-img{
padding-bottom: 20px;
border-radius: 31.922914505004883px;
filter: drop-shadow(0px 2.4631879329681396px 4.187419891357422px 0px rgba(0, 0, 0, 0));
    filter: drop-shadow(0px 10.838027954101562px 8.67042064666748px 0px rgba(0, 0, 0, 0.01));
    filter: drop-shadow(0px 26.60243034362793px 17.291582107543945px 0px rgba(0, 0, 0, 0.01));
    filter: drop-shadow(0px 51.234317779541016px 33.893463134765625px 0px rgba(0, 0, 0, 0.01));
    filter: drop-shadow(0px 86.2115707397461px 62.318668365478516px 0px rgba(0, 0, 0, 0.02));
    filter: drop-shadow(0px 133.0121612548828px 106.40972137451172px 0px rgba(0, 0, 0, 0.02));
} */
.d-flex{
display: flex;

justify-content: space-between;
}
.d-flex>div{
color: gray;
}

