.blue{
    font-family:fantasy;
    color: rgb(0, 27, 116);
    font-size: xx-large;
    border-radius: 3px solid black;
    
}
.des{
    color: rgb(255, 255, 255);
    font-size: x-large;
}
.c1{
    font-family: Peralta;
    padding-top: 50px;
    color:rgba(75, 64, 197, 1);
    ;

}
.c2{
    font-family:Poppins;
    padding-top: 10px;
    color: black;
    padding-bottom: 30px;
}
.card-img{
padding-bottom: 20px;
}
.d-flex{
display: flex;

justify-content: space-between;
}
.d-flex>div{
color: gray;
}
